* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
header {
    text-align: center;
}

header > h1 {
    font-size: 1.45rem;
    font-weight: 500;
    color: #F9F4DA;
}

header > p {
    font-size: 0.875rem;
    max-width: 350px;
    color: #8E8E8E;
}
.game-status-won {
    background-color: #10A95B;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F9F4DA;
    border-radius: 4px;
   
}
.game-status-lost {
    background-color:  #EC5D49;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F9F4DA;
    border-radius: 4px;
    text-align: center;
   
}

section.game-status > p {
    margin: 5px;
}
section.game-status > h2 {
    font-size: 1.25rem;
    margin: 5px;
    margin-right: 15px;
}
.language-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    max-width: 350px;
    margin-bottom: 36px;
    margin-top: 25px;
}

.chip {
    border-radius: 3px;
    padding: 4.5px;
    position: relative;
}
.display-letter {
    display: flex;
    justify-content: center;
    gap:4px;
}

.lttr{
    height: 40px;
    width: 40px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    border-bottom: 1px solid #F9F4DA;
    color : #fff;
}
.keyboard {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 450px;
}

.key {
    height: 40px;
    width: 40px;
    background-color: #FCBA29;
    border: 1px solid #D7D7D7;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;

}
.new-game {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    margin-top: 15px;
}
.green{
    background-color: #10A95B;
}
.red{
    background-color: #EC5D49;
}

.chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}